

body{
    font-family:sans-serif;
    background-color: #5b3345;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

 .Calculator-cover{
   /* لتقليل حدية الزوايا */
     border-radius: 20px;         
    background: #ffffff;
    /* المسافة بين الالة الحاسبة و الاطار */
    padding: 90px; 
}

.grid-container {
    background: #ffffff;
    padding: 20px;
 border-radius: 20px;
 /* التحكم بشادو الالة الحاسبة */
   box-shadow: 0 20px 60px #42051e; 
}

/* الخانة يلي بيظهر فيها الرقم  */
.display{
    
    background-color: #cbe0dda6;
    padding: 20px;
     border-radius: 20px;
     /* الارقام بتظهر ع اليمين */
     text-align: right;
    font-size: 32px;
    /* بُعد البوكس عن الازرار  */
    margin-bottom: 50px;  
} 
.btn{
    display: grid;
    /* تكرار 4 اعمدة كل عمود 70px  */
    grid-template-columns: repeat(4, 70px);
    /* المسافة بين الازرار */
    gap: 15px;
    /* تموضع الازرار بالمنتصف */
    justify-content: center;  
}
/* خصائص الازرار */
.btn button{
    width: 70px;
    height: 70px;
    border: none;
    border-radius: 50%;
    background-color: #f0f3f7;
    box-shadow:  5px 5px 10px #ccc;
     font-weight: bold;
     font-size: 24px;
}
/* تنسيق زر اليساوي */
#equal{
    width: 150px;
    border-radius: 30px;
    background-color: #e08db9;
}
/* تغيير لون الزر بعد تمرير الماوس عليه */
 .btn button:hover{
    background-color: #e08db9;
} 

